.container1, .container2{
    display: flex;
    flex-direction: row;
    border: 3px solid blue;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.container2 {
  background: orange;
}


.line_1, .line_2{
    width: 50px;
    height: 35px;

    margin: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.line_1{
  background:blue; 
}

.line_2{
  background: purple;
}

#first{
  margin-left: 35px;
}